services:
  ott_quic:
    build: .
    container_name: ott_quic_dev
    ports:
      - "9443:9443/udp"
    volumes:
      - ./data:/app/data
      - ./web:/app/web:ro
      - ./certs/dev:/app/certs/dev:ro
    command: ["./build/ott_server"]
    environment:
      - HOST=0.0.0.0
      - PORT=8080
  static_web:
    image: nginx:alpine
    container_name: ott_quic_static
    volumes:
      - ./web:/usr/share/nginx/html:ro
      - ./data:/app_data:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs/dev:/etc/nginx/certs:ro
    ports:
      - "8080:80"
      - "8443:443"
    restart: unless-stopped
